
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}

<style>


    body{


        background-color: gray;

    }



</style>
<body>
    <br><br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3> Wprowadź swoje nowe hasło</h3>
        <hr>
        <p> Wprowadź swoje nowe hasło dwa razy, żebyśmy mogli zweryfikować!
            
            czy wprowadziłeś je poprawnie.

        </p>


        <form method="post">

            {% csrf_token %}

            {{form|crispy}}

            <br>
            
            <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> &nbsp; Zmień hasło </button>


        </form>

    </div>
</body>

{% endblock %}




