
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}
<style>


    body{


        background-color: gray;

    }



</style>

<body>
    <br><br>
    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Reset hasła udany</h3>
        <hr>

        <p> Twoje hasło zostało zmienione. Możesz się teraz zalogować. </p>



        <a href="{% url 'my-login' %}" class="btn btn-primary my-2"> </i> &nbsp; Zaloguj się </a>





    </div>

</body>


{% endblock %}