
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}

<style>


    body{


        background-color: gray;

    }



</style>
<body>
<br><br>
<div class="container bg-white shadow-md p-5 form-layout">
    <h3> Reset hasła </h3>
    <hr>

    <p> Zapomniałeś swojego hasła? Wpisz swój email poniżej,

        a my wyślemy email z instrukcjami by ustawić nowy
    </p>

    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

        <br>

        <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> &nbsp; Wyślij email </button>


    </form>
</div>
</body>






{% endblock %}




